#title {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 10px;
    color: white;

    font-family: Lato, serif;
    font-size: 43px;
}

#subtitle {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-family: Lato, serif;
}

#bodyParent {
    background-color: rgba(0, 0, 0, 0.3);

}

body {
    font-family: 'Open Sans', sans-serif !important;

    line-height: 130%;
    text-align: left;

    background: linear-gradient(rgba(0, 0, 0, 0.775), rgba(0, 0, 0, 0.775)),
    url('../assets/images/IMG_6495.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;

    /*background-position: 50% 24%;*/
    background-position: 50% 30%;
    background-size: 1741px 2321px;

    /*transform: rotate(45deg);*/

}

h2 {
    padding-left: 90px;
    font-family: Lato, serif;
    color: white;
}

#groupMembersNames {
    padding-top: 0px;
    text-align: center;
    font-family: Lato, serif
}

h3 {
    padding-left: 90px;
    font-family: Lato, serif;
    color: white;
}

h4 {
    font-family: Lato, serif;
    padding-left: 18px;
    color: white;
}

#bodyText {
    font-family: Lato, serif;
    padding-left: 110px;
    padding-right: 110px;
    color: white;
}

#bodyPoint {
    font-family: Lato, serif;
    padding-left: 130px;
    padding-right: 130px;
    color: white;
}

#bodyPointSub {
    font-family: Lato, serif;
    padding-left: 150px;
    padding-right: 150px;
    color: white;
}

#bodyVideo {
    display: inline-block;
    border:1px solid red;
    margin:0;
    padding-top: 10px;
    padding-left: 110px;
    padding-right: 110px;
    font-size: 0
}

#bodyQuote {
    font-family: Lato, serif;
    padding-left: 110px;
    padding-right: 110px;
    color: white;
    font-style: italic;
}

img {
    padding-left: 110px;
    max-width: 22%;
    max-height: 22%;
}


