#bodyParent {
    background-color: rgba(0, 0, 0, 0.2);

}
html{

}
body {
    font-family: 'Open Sans', sans-serif !important;
    line-height: 130%;
    text-align: center;

    background-image: url('../assets/images/new_york_sunset.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 10%;
    background-size: 768px 1024px;
}


.title {
    text-align: center;
    color: white;
}
.subtitle {
    text-align: center;
    color: white;
}
.icon {
    width: 2.25em;
    height: 2.25em;
}

#social-links {
    margin-top: 20px;
    height: 50px;
    text-decoration: none;
    text-align: center;
}
#social-links ul {
    list-style-type: none;
}
#social-links ul li {
    display: inline;
    padding: 5px;
}

header {
    margin-top: 20%;
}

footer {
    width: 100%;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


