#title {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 10px;
    color: black;

    font-family: Lato, serif;
    font-size: 43px;
}

#subtitle {
    margin-top: 20px;
    text-align: center;
    color: black;
    font-family: Lato, serif;
}

#bodyParent {
    background-color: rgba(0, 0, 0, 0.3);

}

body {
    font-family: 'Open Sans', sans-serif !important;

    line-height: 130%;
    text-align: left;

}

h2 {
    padding-left: 90px;
    font-family: Lato, serif;
    color: black;
}

#groupMembersNames {
    padding-top: 0px;
    text-align: center;
    font-family: Lato, serif
}

h3 {
    padding-left: 90px;
    font-family: Lato, serif;
    color: black;
}

h4 {
    font-family: Lato, serif;
    padding-left: 18px;
    color: black;
}

#bodyText {
    font-family: Lato, serif;
    padding-left: 110px;
    padding-right: 110px;
    color: black;
}

img {
    padding-left: 110px;
    max-width: 22%;
    max-height: 22%;
}


