#title {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10px;
    color: white;

    font-family: Lato, serif;
    font-size: 43px;
}

#subtitle {
    margin-top: 0px;
    text-align: center;
    color: white;
    font-family: Lato, serif;
}


#socialLinksContainer ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#socialLinksContainer ul li {
    display: inline;
}

#socialLinksContainer ul li a {
    text-decoration: none;
    padding: .2em 1em;

    /*Adding background color*/
    color: #fff;
    /*background-color: #036;*/

}

#socialLinksContainer ul li a:hover {
    color: #fff;
    background-color: #369;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.15)),
            url('../assets/images/new_york_2.jpg');

    background-position: 50% 33%;
    background-size: 1741px 1351px;
    background-repeat: no-repeat;

}

    /*#socialLinks{
        text-align: center;
        list-style-type: none;
        list-style-type: none;


    }

    #socialLinks ul {
        list-style: none;
    }

    #socialLinks li{
        display: inline;
        padding: 5px;

    }*/

.icon {
    width: 2.25em;
    height: 2.25em;
}