#title {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10px;
    color: white;

    font-family: Lato, serif;
    font-size: 43px;
}

#subtitle {
    margin-top: 0px;
    text-align: center;
    color: white;
    font-family: Lato, serif;
}

#socialLinksContainer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#socialLinksContainer ul li {
    display: inline;
}

#socialLinksContainer ul li a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: .2em 1em;
    transition: all 500ms ease;

    /*Adding background color*/
    color: #fff;
    /*background-color: #036;*/

}

#socialLinksContainer ul li a:hover {
    opacity: 0.65;
    animation: bounce 1s;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url('../assets/images/new_york_2.jpg');

    background-position: 50% 33%;
    background-size: 1741px 1351px;
    background-repeat: no-repeat;

}

.icon {
    width: 2.5em;
    height: 2.5em;
}


@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}